###### Задание 1**

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [87]:
import pandas as pd

In [88]:
ratings = pd.read_csv('D:\\Python\\Lesson12_Функции и работа с данными_290620\\zip\\ratings.csv')

In [89]:
ratings.head(2)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179

In [4]:
def classification(param):
    if param <= 2:
        rating_class = 'низкий рейтинг'
    elif param <= 4:
        rating_class = 'средний рейтинг'
    elif param == 4.5 or param == 5:
        rating_class = 'высокий рейтинг'
    return rating_class

In [5]:
ratings['class'] = ratings.rating.apply(classification)
ratings

        userId  movieId  rating   timestamp            class
0            1       31     2.5  1260759144  средний рейтинг
1            1     1029     3.0  1260759179  средний рейтинг
2            1     1061     3.0  1260759182  средний рейтинг
3            1     1129     2.0  1260759185   низкий рейтинг
4            1     1172     4.0  1260759205  средний рейтинг
...        ...      ...     ...         ...              ...
99999      671     6268     2.5  1065579370  средний рейтинг
100000     671     6269     4.0  1065149201  средний рейтинг
100001     671     6365     4.0  1070940363  средний рейтинг
100002     671     6385     2.5  1070979663  средний рейтинг
100003     671     6565     3.5  1074784724  средний рейтинг

[100004 rows x 5 columns]

###### Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

In [24]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region

In [17]:
keywords = pd.read_csv('D:\\Python\\Lesson12_Функции и работа с данными_290620\\keywords.csv')

In [23]:
keywords.tail()

                       keyword  shows
99995   эльдорадо старый оскол   3705
99996      frigate для firefox   3630
99997                   укрсиб   3630
99998  погода в ялте на неделю   3688
99999                     ггму   3630

In [39]:
def geo_classificator(string):
    str = ''
    for key, value in geo_data.items():
        for word in value:
            if word in string:
                str = key
    if str == '':
        str = 'undefined'
    return str

In [43]:
keywords['region'] = keywords['keyword'].apply(geo_classificator)
keywords.head(3)

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined

In [48]:
not_undefined = keywords[keywords.region != 'undefined']
not_undefined.head(20)

,keyword,shows,region
127,авито москва,979292,Центр
370,авито ру санкт петербург,425134,Северо-Запад
564,погода в санкт петербурге,292489,Северо-Запад
849,авито ярославль,209581,Центр
1063,фарпост владивосток,176951,Дальний Восток
1236,банк санкт петербург,174375,Северо-Запад
1259,москва,153050,Центр
1346,санкт петербург,144232,Северо-Запад
1396,гисметео москва,140279,Центр
1482,госуслуги москва,133061,Центр
1579,авито тула,126168,Центр
1682,погода москва,151701,Центр
2121,электронный дневник санкт петербургского образ...,94835,Северо-Запад
2153,авито псков,98931,Северо-Запад
2175,дром хабаровск,98361,Дальний Восток
2398,авито мурманск,89787,Северо-Запад
2550,банк санкт петербург интернет банк,89123,Северо-Запад
2806,циан недвижимость москва,78729,Центр
2974,авто ру санкт петербург,74918,Северо-Запад
3206,дром владивосток,73084,Дальний Восток

###### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [125]:
ratings1 = pd.read_csv('D:\\Python\\Lesson12_Функции и работа с данными_290620\\zip\\ratings.csv')

In [126]:
movies1 = pd.read_csv('D:\\Python\\Lesson12_Функции и работа с данными_290620\\zip\\movies.csv')

In [127]:
joined = ratings1.merge(movies1, on='movieId', how='left').filter(items = ['movieId', 'title', 'rating'])

In [128]:
def production_year(param):
    years  = [i for i in range(1950,2011)]
    result = 0
    for year2 in years:
        if str(year2) in param:
            result = year2
    if result == 0:
        result = 1900
    return result

In [129]:
joined['year'] = joined.title.apply(production_year)

In [130]:
pd.set_option('max_rows', 62)

In [131]:
joined = joined.filter(items = ['year', 'rating'])
joined.groupby(['year']).mean().sort_values('rating', ascending=False)

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1974  3.999058
1954  3.994220
1951  3.983539
1962  3.952446
1950  3.915254
1977  3.905786
1964  3.841492
1959  3.841033
1958  3.823171
1969  3.817376
1967  3.814516
1975  3.812674
1960  3.809211
1976  3.806794
1973  3.806667
1979  3.779279
1981  3.758763
1953  3.754587
1955  3.751724
1971  3.748830
1966  3.736726
1980  3.708816
1963  3.705966
1970  3.700000
1968  3.685714
1965  3.678715
1961  3.663851
1983  3.658284
1984  3.657390
1982  3.639225
1991  3.628265
1956  3.612426
1987  3.606687
1900  3.602960
1985  3.586653
1988  3.552990
1978  3.549003
2007  3.548538
1994  3.537963
1993  3.536664
2010  3.534717
1989  3.534349
1986  3.528265
2009  3.520000
2006  3.511478
2008  3.498057
2004  3.491490
2001  3.474755
1998  3.474026
1999  3.473070
1995  3.472118
1992  3.466754
2002  3.456472
1990  3.448718
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764
2000  3.353444